/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 03-mar-2022, 10:27:51
    Author     : JuanG
*/

/* cambiar tipo de letra */
.Nbarra{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #df131f;
}

.img {
    margin-left: auto;
    
    mar
    
}